<template>
  <div id="app">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Infos from './components/Infos.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    Infos
  }
}
</script>

<style>

</style>
